{%include "base.html"%}

{%block body%}
<script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/classic/ckeditor.js"></script>

    <div class="create_blog">

        <!--create -->

        {%if not update%}
            <form action="" method="post" id="blog-form"> {%csrf_token%}
                <input type="text" value="0" id="update" style="display: none;"/>
                <div>
                    <label for="title"><h3>Title here:</h3></label><br/>
                    <input type="text" placeholder="Title" name="title" id="title">
                </div>

                <div>
                    <label for="content"><h1>Write your content here</h1></label><br>
                    <textarea name="content" id="content" cols="30" rows="20"></textarea>
                </div>

                <div>
                    <button type="submit">Post</button>
                </div>
            </form>

        {%else%}
            <form action="" method="post" id="blog-form"> {%csrf_token%}
            <input type="text" value="1" id="update" style="display: none;"/>
            <div>
                <label for="title"><h3>Title here:</h3></label><br/>
                <input type="text" placeholder="Title" name="title" id="title" value="{{blog.title}}">
            </div>

            <div>
                <label for="content"><h1>Write your content here</h1></label><br>
                <textarea name="content" id="content" cols="30" rows="20">
                    {{blog.content|safe}}
                </textarea>
            </div>

            <input type="text" value="{{blog.id}}" id="blog_id" style="display: none;">

            <div>
                <button type="submit">Post</button>
            </div>
            </form>

        {%endif%}


    </div>



    <script>
        ClassicEditor.create( document.querySelector( '#content' ) ).then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );


        </script>

<script>



    $('#blog-form').on('submit', function(event) {
    event.preventDefault();  
    var title = $("#title").val();
    var content = $("#content").val();
    var csrftoken = $('[name=csrfmiddlewaretoken]').val();
    var update = $("#update").val();
    var blogid = $("#blog_id").val();
    var urlneed =  "/create_blog/";

    if(update == "1"){

        urlneed = "/update_blog/" + blogid + "/"
    }
    
    $.ajax({
        type: "POST",
        url: urlneed,
        data: {
            title: title, 
            content: content,
            csrfmiddlewaretoken: csrftoken  // Include CSRF token in data
        },
        success: function(response) {
            console.log(urlneed);
            window.location.href = "/";
        },
        error: function(xhr, status, error) {
            console.error('Error:', error);
        }
    });
});

    </script>

{%endblock body%}